.locations-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;

}

.locations-container button {
  border-radius: 25px;
  border: none;
  padding: 5px 10px;
  width: auto;
  height: auto;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: black;

}

.locations-container button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px red;
  animation: rainbow-border 3s infinite linear;
  /* Disable the rainbow border animation on hover */
}

@keyframes rainbow-border {
  0% {
    border: 2px solid red;
  }

  33% {
    border: 2px solid blue;
  }

  66% {
    border: 2px solid gold;
  }

  100% {
    border: 2px solid red;
  }
}