.App {
  text-align: center;
  margin: 0;
  padding: 0;
  text-align: center;
  /* background-image: url(nodemonbackground.jpg); */
  background-position: center;
  background-size: cover;
  background: linear-gradient(135deg, #3B4CCA 0%, #FF0000 100%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;

}


.nodemon-image {
  width: 550px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}